.cocktail-card {
  background-image: url('https://images.unsplash.com/photo-1437418747212-8d9709afab22?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1533&q=80');
  background-size: cover;
  height: 17vh;
  border-radius: 5px;

}

.cocktail-card:hover {
    // filter: blur(1px);
    margin-left: -8px;
    transition: margin 0.3s ease-in;
    transition: margin 0.3s ease-out;
    box-shadow: 4px -4px 4px pink;

  }

a {
  text-decoration: none;
  font-family: 'Orbitron', sans-serif;
  margin-top: 30px;
}

a:hover {
  text-decoration: none;
}


